<agm-map [latitude]="lat" [longitude]="lng"   [zoom]="zoom"
[disableDefaultUI]="false"
(mapClick)="mapClicked($event)"
(center)="markers[0].center">

<agm-marker 
*ngFor="let m of markers; let i = index"
(markerClick)="clickedMarker(m.label, i)"
[iconUrl]="'http://localhost:4200/assets/img/map-marker.png'"
[latitude]="m.lat"
[longitude]="m.lng"
[label]="m.label"
[markerDraggable]="m.draggable"
(dragEnd)="markerDragEnd(m, $event)">

<!-- COMMENTING OUT AT THE MOMENT - MAY RETURN -->
<!-- <agm-info-window>
<strong>{{eventName}}</strong>
</agm-info-window> -->

</agm-marker>
</agm-map>