<agm-map
[zoom]="zoom"
[disableDefaultUI]="false"
(mapClick)="mapClicked($event)"
[latitude]="defaultPosition.lat"
[longitude]="defaultPosition.lng"
(center)="markers[0].center">
<!-- *ngFor="let m of markers; let i = index" -->
<agm-marker 

(markerClick)="clickedMarker(markers[0].label, 0)"
[iconUrl]="'http://localhost:4200/assets/img/map-marker.png'"
[latitude]="markers[0].lat"
[longitude]="markers[0].lng"
[label]="markers[0].label"
[markerDraggable]="markers[0].draggable"
(dragEnd)="markerDragEnd(markers[0], $event)">

<!-- COMMENTING OUT AT THE MOMENT - MAY RETURN -->
<!-- <agm-info-window>
<strong>{{eventName}}</strong>
</agm-info-window> -->

</agm-marker>
</agm-map>