<h1>Timeline Register</h1>
<p>Below is a list of all the current timelines</p>

<h4>Search Timelines</h4>

<div class="search-box">

  <div class="input-group">
    <i class="fas fa-search"></i>
    <input [(ngModel)]="searchText" placeholder="Search by name..." type="text">
  </div>

</div>

<p class="button-row">
  <button class="button button-primary">
    <i class="fas fa-sync fa-spin"></i> Refresh from API</button>
  <a routerLink="new" class="button button-success">
    <i class="fas fa-plus"></i> Create New Timeline</a>
</p>

<div class="register" *ngIf="loaded">

  <div class="tline" *ngFor="let timeline of register | filter: searchText" routerLink="{{timeline.timelineId}}/edit">
    <!-- <div class="tline" *ngFor="let timeline of register" routerLink="{{timeline.timelineId}}/edit"> -->

    <!-- Event Count -->
    <div class="events">
      <i class="fas fa-exclamation-triangle"></i>
      <span>{{timeline.events.length}}</span>
    </div>

    <!--       Timeline Details -->
    <div class="details">
      <p class="details__name">{{timeline.title}}</p>
      <p class="details__time">
        <i class="fas fa-clock"></i> {{timeline.dateCreated | moment | lowercase }} </p>
      <p>
        <a routerLink="{{timeline.timelineId}}/edit" class="button button-success"><i class="fas fa-eye"></i> View Timeline</a>
      </p>
    </div>

    <!--       Timeline Buttons -->
    <div class="buttons">
      <ul>
          <li>
              <a routerLink="{{timeline.timelineId}}/overview">
                <i class="fas fa-sitemap"></i>
                <span>Show Overview</span>
              </a>
            </li>
        <li>
          <a routerLink="{{timeline.timelineId}}/delete">
            <i class="fas fa-trash-alt"></i>
            <span>Delete Timeline</span>
          </a>
        </li>
        <li>
          <a routerLink="{{timeline.timelineId}}/edit">
            <i class="fas fa-pencil-alt"></i>
            <span>Edit Timeline</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

</div>

<div *ngIf="!loaded" style="text-align:center;">
  <h1>Loading Timelines...</h1>
  <i class="fas fa-sync fa-spin" style="font-size:150px;"></i>
</div>