p.button-row {
    // text-align: right;
    display: flex;
    justify-content: space-between;
}

.aileron-logo {
    max-width: 500px;
    margin: 2em auto;
}

.search-box {
    padding: 1em;
    box-shadow: 0 0 10px #CCC;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly; // border:1px solid #C00;
    border-radius: 10px;
    margin: 0 0 2em 0;
    .input-group {
        margin: 0;
        padding: 0;
        position: relative;
        margin: 0 1em 0 0; // display:flex;
        // flex-grow:2;
        i {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 15px;
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            color: #CCC;
        }
        input[type=text],
        input[type=date] {
            margin: 0 0;
            padding: 0 38px;
            display: block; // display:flex;
            flex-grow: 1;
            &::placeholder {
                text-align: center;
            }
        }
    }
}

@media(max-width:980px) {
    .search-box {
        display: block;
        .input-group {
            width: 100%;
            input[type=text],
            input[type=date] {
                display: block;
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
    }
}