
<app-spinner *ngIf="!loaded"></app-spinner>

<h1>{{timeline?.title}}</h1>


  <p>Below are the events related to this timeline.</p>
  
  <div *ngIf="timeline?.events.length > 0; then hasEvents; "></div>
  
  <!-- TIMELINE TEMPLATE -->
  <ng-template #hasEvents>
    <div class="timeline">
  
      <div *ngFor="let event of timeline?.events; let i = index">
  
        <app-list-event-item [event]="event" [i]="i"></app-list-event-item>
  
        <ul>
          <!-- <li *ngFor="let levent of event.linkedEvents">{{levent.title}}</li> -->
        </ul>
  
        <div class="linked">
        <app-list-event-item *ngFor="let levent of event.linkedEvents" [event]="levent" [i]="i"></app-list-event-item>
      </div>
  
        <!-- <div *ngIf="event.linkedEvents.length > 0"> -->
  
          <!-- <div class="linked">
            <app-list-event-item *ngFor="let levent of event.linkedEvents; let j = index" [event]="levent" [i]="2"></app-list-event-item>
          </div> -->
  
        <!-- </div> -->
  
  
      </div>
    </div>
  </ng-template>
  
  
  <ng-template #noEvents>
    <p>There are currently no events on this timeline.
      <a href="#" class="button button-success">
        <i class="fas fa-plus"></i> Create Event</a>
    </p>
  </ng-template>