<app-spinner *ngIf="!loaded">
  Loading Timeline Events
</app-spinner>

<div *ngIf="error === null">
  <h1>Uh Oh</h1>
  <p>Error</p>
</div>

<div *ngIf="loaded">
<h1>{{timeline?.title}}</h1>


<p>Below are the events related to this timeline.</p>
<p class="button-row">
  <a routerLink="/timelines" class="button button-primary large">
    <i class="fas fa-arrow-left"></i> Return to Register</a>
  <a routerLink="events/create" class="button button-success large"  *ngIf="timeline?.events.length > 0">
    <i class="fas fa-plus"></i> Create New Event</a>
</p>


<!-- DIRECTIVE TO CHECK FOR WHICH CONTENT TO DISPLAY -->
<div *ngIf="timeline?.events.length > 0; then hasEvents; else noEvents; "></div>

<!-- IF HAS EVENTS -->
<ng-template #hasEvents>
  <div class="timeline">

    <div *ngFor="let event of timeline?.events; let i = index">

      <app-list-event-item (deleteEvent)="onDeleteEvent($event)" [event]="event" [i]="i % 2"></app-list-event-item>

      <div class="linked">
        <app-list-event-item *ngFor="let levent of event.linkedEvents" [event]="levent" [i]="!(i % 2)"></app-list-event-item>
      </div>

    </div>
  </div>
</ng-template>

<!-- THERE WERE NO EVENT -->
<ng-template #noEvents>
  <div class="no-events">
    <p>There are currently no events on this timeline.</p>
        <a routerLink="events/create" class="button button-success large">
            <i class="fas fa-plus"></i> Create Event</a>
  </div>
</ng-template>
</div>