@import "../../../sass/utilities/variables"; // COLOUR VARIABLES

p.button-row {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.no-events {
  text-align: center;
  p {
    font-size:30px;
  }
}