<nav class="navbar">
  <div class="container">
    <a routerlink="/dashboard" class="nav__logo">
      <span>Ideagen Coruson</span>
    </a>
    <ul [ngClass]="{'open':menuState}">
      <li>
        <a routerLink="dashboard" (click)="toggleMenuState()"><i class="fas fa-chart-pie"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="timelines" (click)="toggleMenuState()"><i class="fas fa-sitemap"></i> Timelines</a>
      </li>
    </ul>
    <div class="navbar__hamburger" (click)="toggleMenuState()"></div>
  </div>
</nav>