<form>
  <label for="Event_Name">Event Name</label>
  <input class="u-full-width" type="text" name="name" placeholder="Event A" id="exampleNameInput">

  <label for="Event_Date">Event Date</label>
  <input class="u-full-width" type="text" placeholder="HH/MM DD/MM/YYYY" id="exampleDateInput">

  <label for="Event_Description">Event Description</label>
  <textarea class="u-full-width" placeholder="Please enter a desciption" id="exampleDesciption"></textarea>

  <label for="Related_Events">Related Events</label>
  <select class="u-full-width" id="exampleRecipientInput">
    <option value="Option 1">Event A</option>
    <option value="Option 2">Event B</option>
    <option value="Option 3">Event C</option>
  </select>

  <label for="Event_Attachments">Event Attachments</label>
  <button type="button"><i class="fas fa-upload"></i> Upload Attachment</button>
  <button type="button"><i class="fas fa-eye"></i> View Attachment</button>
  <button type="button"><i class="fas fa-trash-alt"></i> Remove Attachment</button>

  <label for="Attachments">Event Location</label>
  <button type="button"><i class="fas fa-plus"></i> Add Location</button>
  <button type="button"><i class="fas fa-minus"></i> Remove Location</button>

  <div class="row">
  <button type="input" class="button green button-primary"><i class="far fa-save"></i> Save</button>
</div>
</form>