<form>
  <label for="Event_Name">Event Name</label>
  <input class="u-full-width" type="Name" placeholder="Event A" id="exampleNameInput">

  <label for="Event_Date">Event Date</label>
  <input class="u-full-width" type="Date" placeholder="HH/MM DD/MM/YYYY" id="exampleDateInput">
  </br>
  </br>
  </br>

  <label for="Event_Description">Event Description</label>
  </br>
  </br>
  <textarea class="u-full-width" placeholder="Please enter a desciption" id="exampleDesciption"></textarea>
  </br>
  </br>
  </br>

  <label for="Related_Events">Related Events</label>
  <select class="u-full-width" id="exampleRecipientInput">
    <option value="Option 1">Event A</option>
    <option value="Option 2">Event B</option>
    <option value="Option 3">Event C</option>
  </select>
  </br>
  </br>
  </br>

  <label for="Event_Attachments">Event Attachments</label>
  </br>
  </br>
  <input class="u-full-width" type="Attachments" placeholder="document.docx" id="exampleAttachmentsInput">
  </br>
  </br>
  <button type="button">Upload Attachment</button>
  <button type="button">Open Attachment</button>
  <button type="button">Remove Attachment</button>
  </br>
  </br>
  </br>

   <label for="Event_Location">Event Location</label>
  </br>
  </br>
  <input class="u-full-width" type="Location" placeholder="G4 0BA" id="exampleLocationInput">
  </br>
  </br>
  <button type="button">Add Location</button>
  <button type="button">Remove Location</button>
  </br>
  </br>
  </br>

<input class="button-primary" type="submit" value="Submit">
</form>