@import '../../../sass/utilities/variables';
.event-info {
    p i {
        color:$darkgreen;
    }
}
.map-wrapper {
    // border:10px solid #F00;
    border-radius:4px;
    overflow: hidden;
    border:1px solid #D1D1D1; 

}

.attachment-row {
    display: flex;
    flex-direction: column;
    // width:100%;

    button {
        // display: flex;
        // ce
        // fill:1;
    }

}