<form [formGroup]="createTimeline" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="six columns">
      
      <div class="timeline-info" *ngIf="editMode">
        <h1>{{ timeline.title}}</h1>
        <p><i class="fas fa-clock"></i> <strong>Created On</strong> {{ timeline.dateCreated | date: 'medium' }}</p>
      </div>

      <label for="name">Timeline Title</label>
      <input class="u-full-width" type="text" placeholder="Timeline name" id="name" formControlName="name">
    </div>
  </div>

<button *ngIf="!updated" type="button" routerLink="/timelines">Cancel</button>
  <input *ngIf="!updated" type="submit" [disabled]="createTimeline.invalid" [ngClass]="{'button-success':!createTimeline.invalid}" value="{{editMode ? 'Update Timeline' : 'Create Timeline'}}">
  
  <div *ngIf="updated">
      <button class="button" routerLink="/timelines">Return to Timelines</button>

    <p> <i class="fas fa-check"></i> API CALL COMPELTE</p>
  </div>
</form>