<div class="modal">

  <div class="modal-content">

    <span class="close" routerLink="../">&times;</span> 


<form [formGroup]="createTimeline" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="six columns">

      <!-- EDIT MODE -->
      <div class="timeline-info" *ngIf="editMode">
        <h2>Edit {{ timeline.title}}</h2>
        <p><i class="fas fa-clock"></i> <strong>Created On</strong> {{ timeline.dateCreated | date: 'medium' }}</p>
      </div>

      <!-- CREATE NEW TIMELINE -->
      <div class="timeline-info" *ngIf="!editMode">
          <h2><i class="fas fa-plus"></i> Create New Timeline</h2>
          <!-- <p><i class="fas fa-clock"></i> <strong>Created On</strong> {{ timeline.dateCreated | date: 'medium' }}</p> -->
        </div>

      <label for="name">Timeline Name</label>
      <input class="u-full-width" type="email" type="text" [disabled]="updated" placeholder="Timeline name" id="name" formControlName="name">
    </div>
  </div>

<button *ngIf="!updated" type="button" routerLink="/timelines">Cancel</button>
  <input *ngIf="!updated" type="submit" [disabled]="createTimeline.invalid" [ngClass]="{'button-success':!createTimeline.invalid}" value="{{editMode ? 'Update Timeline' : 'Create Timeline'}}">

  <app-spinner *ngIf="saving && !updated" [medium]="true">Saving</app-spinner>
  
  <div *ngIf="updated">
      <button class="button" routerLink="/timelines">Return to Timelines</button>

    <p> <i class="fas fa-check"></i> <strong>Timeline Saved</strong></p>
  </div>
</form>

</div>

</div>