@import "../../../sass/utilities/variables";
@import "../../../sass/utilities/animations";
.spinner {
    text-align:center;

    i {
        font-size:150px;
        color: $navyblue;
    }

    img {
        animation:spin 2s infinite;
        // animation-timing-function: linear;
        width:50%;
        max-width:200px;

    }

    &.medium img {
        max-width: 100px;
    }

    &.small img {
        max-width: 30px;
    }
}