<div class="event" [ngClass]="getClassName()">
    <div class="details">

      <app-spinner *ngIf="deleting"></app-spinner>

      <div *ngIf="!deleting">
        <h2>{{event?.title}}</h2>
        <label for="temp-id">Temp ID</label>
        <input type="text" class="u-full-width" value="{{event?.eventId}}">
        <p class="info">
          <i class="far fa-calendar"></i> {{ event?.dateTime | date:'longDate'}}
          <i class="far fa-clock"></i> {{ event?.dateTime | date:'HH:mm'}}
          <i class="fas fa-link"></i> {{event?.linkedEvents.length}}
        <span *ngIf="event?.location.name!==''"><i class="fas fa-map-marker-alt"></i> {{event?.location.name}}</span></p>
        <p>{{event.description}}</p>
        <p class="button-row">
          <a href="#" class="button button-success">
            <i class="fas fa-eye"></i> View Event</a>
          <a [routerLink]="['events',event.eventId,'edit']" class="button button-primary">
            <i class="fas fa-pencil-alt"></i> Quick Edit</a>
            <button (click)="onDelete()" class="button button-danger" [disabled]="event.linkedEvents.length > 0">
              <i class="fas fa-trash-alt"></i> DELETE</button>
          <!-- <a href="#" class="button button-primary red linked-events"><i class="fas fa-link"></i> <span>Show</span> Linked Events <strong>2</strong></a> -->
        </p>
      </div>

    </div>
  </div>